@model IEnumerable<Reservation>

@{
    ViewData["Title"] = "Reservations";
}

<div class="container mt-5">
    <h2>Reservations</h2>
    <a asp-action="Create" class="btn btn-primary mb-3">Create New Reservation</a>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Reservation ID</th>
                <th>User</th>
                <th>Date</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model)
            {
                <tr>
                    <td>@reservation.ReservationID</td>
                    <td>@reservation.User.Username</td>
                    <td>@reservation.Date.ToShortDateString()</td>
                    <td>@reservation.Time.ToString(@"hh\:mm")</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@reservation.ReservationID" class="btn btn-info btn-sm">Details</a>
                        <a asp-action="Edit" asp-route-id="@reservation.ReservationID" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="DeleteConfirmed" asp-route-id="@reservation.ReservationID" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this Reservation?');">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
